# EtiketKontrol Backend Ortam Değişkenleri

# Sunucu Portu
PORT=3000

# Google Gemini API Anahtarı
# https://aistudio.google.com/app/apikey adresinden alabilirsiniz
#GEMINI_API_KEY=AIzaSyAk4j8X2p9L6kt8NNsbxz9LsPab2th_HnQ
OPENROUTER_API_KEY=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
OCR_SPACE_API_KEY=K86972271788957
# Ortam (development/production)
NODE_ENV=development
